/*.bg{
    background-image: url(../../assets/img/gallery/gallery-1.jpg);
    height: 600px;
}*/
.container{
    height: auto;
    background-color: #9ec58c;
}
/* .contact-image{
    width:auto;
    height: 100px;
    border-radius: 50px;
} */