<div class="container">
    <form class="form-inline my-4 ">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter Id" [(ngModel)]="id" name="id" aria-label="Search">
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-warning my-4 " type="submit" (click)="showPatientInfo()"><i class="fa fa-search"></i> Search</button>
        </div>
      </form>
      <!-- Jumbotron -->
<div class="p-5 text-center">
<div class="mask">
<div class="d-flex justify-content-center align-items-center">
    <!--table class="table table-stripped">
        <thead>
          <tr>
            <th scope="col">Patient Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Visit Date</th>
            <th scope="col">Doctor Name</th>
            <th scope="col">Age</th>

           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{patient.name}}</td>
            <td>{{patient.gender}}</td>
            <td>{{patient.date_of_visit}}</td>
            <td>{{patient.doctor_name}}</td>
            <td>{{patient.age}}</td>
           
          </tr>
        </tbody>
      </table-->
      <div>
        <div>
            <label > <b>Name of the Patient:{{patient.name}}</b></label> 
        </div>
        <br>
        <div>
          <label > <b>Patient age:{{patient.age}} </b></label> 
      </div>
      <br>
        <div>
            <label > <b>Gender: {{patient.gender}}</b></label>
        </div>
        <br>
        <div>
            <label > <b>Date of Visit: {{patient.date_of_visit}}</b></label> 
        </div>
        <br>
        <div>
            <label > <b>Visited Doctor:{{patient.doctor_name}} </b></label> 
        </div>
    
    </div>
</div>
</div>
<br>
<label for="">prescription:{{patient.prescription}}</label>

</div>

</div>


<!-- Jumbotron -->