<section id="hero" style="background-color: rgb(231, 245, 231);">
    
    <div class="" >
        
            <h2>Blossom Valley Community hospital</h2>
            <div>
                <img src="https://thumbs.dreamstime.com/b/medical-stethoscope-flower-light-wooden-background-medical-stethoscope-flower-light-wooden-background-top-view-113196368.jpg" alt="" width="1000px" height="250px">
            </div>
                <div>
                    <h3 ALIGN=CENTER>Three Steps To Live In </h3>
                    <P ALIGN=LEFT>The best investment you've ever make is your own health.</P>
                    <P ALIGN=CENTER>To keep the body in good health is a duty .......otherwise we shall not be able to keep our mind strong and clear</P>
                    <P ALIGN=RIGHT>Self care is how you take your Power Back!!!!!!.</P>
                    
                </div>
    </div>
</section>